<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112834497463-jlk8icak4833kt0bkt9sni0psu4smjdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112834497463-jlk8icak4833kt0bkt9sni0psu4smjdr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>112834497463-r91t62cqbicleqoaar777c1qlikhdisi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCvfXHJZQA4_6y0UXyYjDFvhkGF5WjtfxE</string>
	<key>GCM_SENDER_ID</key>
	<string>112834497463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abhishek.chatsy</string>
	<key>PROJECT_ID</key>
	<string>chatsy-a4bac</string>
	<key>STORAGE_BUCKET</key>
	<string>chatsy-a4bac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112834497463:ios:b23fef5141804271b83632</string>
	<key>DATABASE_URL</key>
	<string>https://chatsy-a4bac.firebaseio.com</string>
</dict>
</plist>